<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">

</head>
<body>
    <div id="container">
       <div id="edit-form">

        {% for row in detail %}
        <form action = "/updateProfile" method = "post" > 
         
            <div class="form-group">
              <label >Customer Name</label>
              <input type="name" class="form-control" value = "{{row.0}}" name="updateName">
            </div>
            <div class="form-group">
              <label >Email</label>
              <input type="email" class="form-control" aria-describedby="emailHelp" value = "{{row.1}}" name ="updateEmail">
            </div>

            <button type="submit" class="btn btn-primary" style="background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);">Save Changes</button>
          </form>
          {% endfor %}
        </div>
    </div>
</body>
</html>